Pipeline/venv/
Pipeline/__pycache__/
Pipeline/*/__pycache__/
Pipeline/*/*/__pycache__/
Pipeline/*/*/*/__pycache__/
Pipeline/*/*/*/*/__pycache__/
Pipeline/*/*/*/*/*/__pycache__/
Pipeline/Chatbot/node_modules
Pipeline/Tools/TDStructure/Prediction/visualizations/
Pipeline/static/